<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /react-test/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /react-test/index.html [L]
</IfModule>
